@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --primary-text: orange;
  --secondary-text: darkorange;
  --tertiary-text: cadetblue;
  --quaternary-text: darkslategrey;
  --quinary-text: black;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-text);
}

body {
  @extend .text-center;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .text-center;
  margin: 0 auto;
  padding: 2rem;
}

img {
  @extend .full-width;
  height: 100%;
  object-fit: fill;
}

p,
button {
  margin: var(--size-6);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.card-footer {
  @extend .full-width;
  margin-bottom: 1rem;
}

.card-footer .link {
  @extend .hover-effect;
}

.card-lower {
  height: 100%;
  margin-top: 0.5rem;
}

.card-preview {
  height: 15rem;
  overflow: hidden;
}

.commit-message {
  @extend .text-center;
  max-width: 40vw;
}

@media (max-width: 768px) {
  .commit-message {
    max-width: 80vw;
  }
}

.container {
  align-items: center;
  background-color: var(--quinary-text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100vw;
  min-height: 100vh;
}

.font-weight {
  font-weight: 600;
}

.footer {
  @extend .fade-in;
  color: var(--tertiary-text);
  margin-bottom: 2rem;
}

.full-width {
  width: 100%;
}

.header {
  @extend .fade-in;
  margin-top: 2rem;
}

.header-name {
  color: var(--primary-text);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.header-text {
  @extend .font-weight;
  color: var(--tertiary-text);
}

.header-text .thaw-text {
  color: var(--primary-text);
}

.hover-effect {
  transform: scale3d(1, 1, 1);
  transition: transform 0.2s ease;
}

.hover-effect:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.inner-container {
  width: 80vw;
}

@media (max-width: 768px) {
  .inner-container {
    width: 100vw;
  }
}

.last-update {
  @extend .font-weight;
  color: var(--tertiary-text);
  font-size: 0.65rem;
}

.link {
  color: var(--primary-text);
  font-size: 1.2rem;
}

.link:hover {
  color: var(--secondary-text);
}

.project-name {
  @extend .text-center, .full-width;
  background-color: var(--quaternary-text);
  color: var(--primary-text);
  font-size: 1rem;
  height: 2rem;
  margin-top: 1rem;
  padding-top: 0.3rem;
}

.project-description {
  @extend .text-center, .full-width;
  color: var(--primary-text);
  font-size: 1rem;
}

.projects-container {
  @extend .fade-in;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.selfie {
  border-radius: 1rem;
  margin-bottom: 0.2rem;
  max-height: 20rem;
  max-width: 10rem;
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.social {
  margin-top: 0.3rem;
}

.social a {
  @extend .hover-effect;
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.thaw-card {
  height: 70vh;
  width: 30rem;
}

@media (max-width: 768px) {
  .thaw-card {
    height: 90vh;
  }
}

.thaw-drawer-body {
  background-color: var(--quinary-text);
}

.thaw-button--icon {
  color: var(--primary-text);
}

.thaw-label {
  color: var(--primary-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes thaw-skeleton-item {
  from {
    background-position-x: 115%;
  }

  to {
    background-position-x: 0%;
  }
}
