/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

a {
  color: orange;
  text-decoration: none;
}

a:hover,
.link:hover {
  color: darkorange;
}

body {
  font-family: sans-serif;
  text-align: center;
}

img {
  height: 100%;
  object-fit: fill;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p,
button {
  margin: var(--size-6);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.card-preview {
  height: 15rem;
  overflow: hidden;
}

.container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100vw;
  min-height: 100vh;
}

.card-container {
  height: 65vh;
}

.card-footer {
  width: 100%;
}

.hover-effect {
  transform: scale3d(1, 1, 1);
  transition: transform 0.2s ease;
}

.hover-effect:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.last-update {
  color: lightsteelblue;
  font-size: 0.65rem;
}

.link {
  font-size: 1.2rem;
  color: orange;
}

.project-name {
  background-color: dimgray;
  color: orange;
  font-size: 1rem;
  height: 2rem;
  padding-top: 0.3rem;
  text-align: center;
  width: 100%;
}

.project-description {
  color: lightgray;
  font-size: 1rem;
  height: 10rem;
  text-align: center;
  width: 100%;
}

.projects-container {
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 80vw;
}

.selfie {
  border-radius: 1rem;
  max-height: 20rem;
  max-width: 10rem;
}

.thaw-card {
  height: 70vh;
  width: 30rem;
}

.thaw-drawer-body {
  background-color: black;
}

.thaw-button--icon {
  color: orange;
}

.thaw-label {
  color: orange;
}
